<library path="gui_client">
  <class name="IntrospectionGUI" type="gui_client.rqt_gui_py.IntrospectionPlugin" base_class_type="rqt_gui_py::Plugin">
    <description>GUI for introspection manager (select topics).</description>
    <qtgui>
      <label>Introspection Manager GUI</label>
      <group><label>Introspection</label></group>
    </qtgui>
  </class>
</library>
